body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('backround.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 60px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.login-form p {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.input-group input {
    width: 92%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
}

.input-group input::placeholder {
    color: #ddd;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333333;
}

figure {
    overflow: hidden;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin: 0 auto;
    border: 2px solid white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2.3);
    object-position: top 0px right -10px;
  }